name: deploy-vm

on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.actor == 'TaneoMoisson1'
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install OpenStack client
        run: |
          sudo snap install openstackclients --classic


      - name: Deploy VM
        run: |
          source /home/user/openrc.sh
          export OS_COMPUTE_API_URL=https://192.168.255.200:8774/v2.1
          openstack --insecure token issue
          openstack --insecure server delete VM-LABO || true
          openstack --insecure server create VM-LABO \
            --image alpine-cloud \
            --flavor m1.small \
            --network LAN-LABO \
            --user-data cloud-init.yml \
            --security-group default \
            --os-interface internal
          while ! openstack --insecure --os-interface public server list -f value -c Status | grep -q ACTIVE; do
            sleep 5
          done
          FIP=$(openstack --insecure floating ip create external -f value -c floating_ip_address)
          openstack --insecure server add floating ip VM-LABO $FIP
          echo "VM En Ligne : $FIP"
