name: pages
on:
  push:
    branches: [ "main" ]

permissions:
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-pages-artifact@v2
        with:
          path: docs

      - uses: actions/deploy-pages@v2
